{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>房产助手</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'house_helper/css/jquery-accordion-menu.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'house_helper/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'house_helper/js/jquery-accordion-menu.js' %}" type="text/javascript"></script>
</head>
<body style="background: azure">
<nav class="container-fluid black">
    <div class="row d-flex justify-content-center">
        <div class="col-1 d-flex align-items-center mt-1">
            <img src="{% static 'house_helper/img/logo.png' %}" style="width: 40px; height: 40px; padding-right: 10px"
                 alt="logo">
            <p class="text-center" style="margin: 0;color: azure">房产助手</p>
        </div>
        <div class="col-7 d-flex align-items-center mt-1">
            <ul class="nav nav-tabs" id="nav-menu" role="tablist">
                {% for x in menu_list %}
                    {% if x.hierarchy == 1 %}
                        {% if x.id == menu_list.model_num %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ x.url }}" id="nav-{{ x.id }}-tab">{{ x.name }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ x.url }}" id="nav-{{ x.id }}-tab">{{ x.name }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-2 d-flex align-items-center mt-1" style="pointer-events: none;">
            <iframe width="300" scrolling="no" height="30" frameborder="0" allowtransparency="true" src="https://i.tianqi.com?c=code&id=34&color=%23FFFFFF&icon=1&site=12"></iframe>
        </div>
        <div class="col-1 d-flex align-items-center mt-1">
            <img src="{% static 'house_helper/img/default_head_portrait.png' %}"
                 style="width: 40px;height: 40px;margin: 0 0 0 0"
                 alt="头像" class="mx-1">
            <p class="text-center mx-1" style="margin: 0;color: azure">{{ username }}</p>
            <img src="{% static 'house_helper/img/icon/down.png' %}" style="width: 20px;height: 20px" alt="下拉"
                 class="mx-1">
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <aside class="col-2 d-flex align-items-stretch">
            <div class="tab-content content" id="nav-content">
                <div id="jquery-accordion-menu" class="jquery-accordion-menu black">
                    <div class="jquery-accordion-menu-header" id="form"></div>
                    <ul id="menu-list">
                        {% if menu_list.menu_checked_id == menu_list.0.id %}
                        <li class="active"><a href="{{ menu_list.0.url }}">
                                <i class="fa fa-{{ menu_list.0.icon }}"></i>Home </a></li>
                        {% else %}
                            <li><a href="{{ menu_list.0.url }}"><i class="fa fa-{{ menu_list.0.icon }}"></i>Home </a>
                            </li>
                        {% endif %}
                        {% for x in menu_list %}
                            {% if x.hierarchy > menu_list.0.hierarchy and x.parent_id == menu_list.model_num %}
                                <li>
                                    <a href="{{ x.url }}">
                                        <i class="fa fa-{{ x.icon }}"></i>{{ x.name }}
                                    </a>
                                    {% if x.have_message_bubble == 1 %}
                                        <span class="jquery-accordion-menu-label">{{ new_message_count|default:0 }}</span>
                                    {% endif %}
                                    {% if x.have_child == 1 %}
                                        <ul class="submenu">
                                            {% for y in menu_list %}
                                                {% if y.hierarchy > x.hierarchy and y.parent_id == x.id %}
                                                    <li>
                                                        <a href="{{ y.url }}">
                                                            <i class="fa fa-{{ y.icon }}">{{ y.name }} </i>
                                                        </a>
                                                        {% if y.have_message_bubble == 1 %}
                                                            <span class="jquery-accordion-menu-label">{{ new_message_count|default:0 }}</span>
                                                        {% endif %}
                                                        {% if y.have_child == 1 %}
                                                            <ul class="submenu">
                                                                {% for z in menu_list %}
                                                                    {% if z.hierarchy > y.hierarchy and z.parent_id == y.id %}
                                                                        <li>
                                                                            <a href="{{ z.urk }}">
                                                                                <i class="fa fa-{{ z.icon }}">{{ z.name }} </i>
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="jquery-accordion-menu-footer text-center" id="menu-footer" style="padding: 0"
                         onclick="aside_menu_hide()">
                        <i class="fa fa-angle-double-up"></i> 收起菜单
                    </div>
                </div>
            </div>
        </aside>
        <div id="show-aside-menu" class="text-center" style="display: none;position: relative;left:5%;z-index: 1">
            <i class="fa fa-angle-double-down" onclick="aside_menu_show()"> </i>
        </div>
        {% block section %}

        {% endblock %}
    </div>
</div>
<footer class="container-fluid">
    <div class="row d-flex justify-content-center"
         style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';clear:both;">
        <p class="col-12">给每位房产经理的CRM</p>
        <p class="col-12">*****<a href="#" target="_blank">***</a></p>
    </div>
</footer>
</body>
<script>
    const aside_menu = $('#jquery-accordion-menu')
    const aside = $('aside')
    const pull = $('#show-aside-menu')
    const article = $('article')
    $(document).ready(function () {
        $("#jquery-accordion-menu").jqueryAccordionMenu();
    });

    $(function () {
        //顶部导航切换
        $("#menu-list li").click(function () {
            $("#menu-list li.active").removeClass("active")
            $(this).addClass("active");
        })
    })

    function aside_menu_hide() {
        aside_menu.addClass('fadeOutDown')
        aside_menu.delay(1500).fadeOut(0, function () {
            pull.fadeIn(0, function () {
                aside.removeClass('col-2').addClass('col-0')
                article.removeClass('col-10').addClass('col-12')
                aside_menu.removeClass('fadeOutDown')
            })
        })
    }

    function aside_menu_show() {
        aside_menu.addClass('fadeInDown')
        aside_menu.fadeIn(0, function () {
            pull.fadeOut(0, function () {
                aside.removeClass('col-0').addClass('col-2')
                article.removeClass('col-12').addClass('col-10')
            })
        })
        setTimeout(function () {
            aside_menu.removeClass('fadeInDown')
        }, 1500)
    }

    (function ($) {
        $.expr[":"].Contains = function (a, i, m) {
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
        };

        function filterList(header, list) {
            //@header 头部元素
            //@list 无需列表
            //创建一个搜素表单
            var form = $("<form>").attr({
                "class": "filterform",
                action: "#"
            }), input = $("<input>").attr({
                "class": "filterinput",
                type: "text"
            });
            $(form).append(input).appendTo(header);
            $(input).change(function () {
                var filter = $(this).val();
                if (filter) {
                    $matches = $(list).find("a:Contains(" + filter + ")").parent();
                    $("li", list).not($matches).slideUp();
                    $matches.slideDown();
                } else {
                    $(list).find("li").slideDown();
                }
                return false;
            }).keyup(function () {
                $(this).change();
            });
        }

        $(function () {
            filterList($("#form"), $("#menu-list"));
        });
    })($);
</script>
</html>