{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>房产助手</title>
    <meta name="keywords" content="侧边导航菜单(可分组折叠)">
    <meta name="description" content="侧边导航菜单(可分组折叠)"/>
    <meta name="HandheldFriendly" content="True"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="container-fluid" style="background: #00bfff">
    <div class="row d-flex justify-content-center">
        <div class="col-1 d-flex align-items-center my-1">
            <img src="{% static 'house_helper/img/logo.png' %}" style="width: 40px; height: 40px; padding-right: 10px"
                 alt="logo">
            <p class="text-center" style="margin: 0;color: azure">房产助手</p>
        </div>
        <div class="col-9 d-flex align-items-center my-1">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="col-1 d-flex align-items-center my-1">
            <img src="{% static 'house_helper/img/default_head_portrait.png' %}" style="width: 50px;height: 50px"
                 alt="头像" class="mx-1">
            <p class="text-center mx-1" style="margin: 0;color: azure">username</p>
            <img src="{% static 'house_helper/img/icon/down.png' %}" style="width: 20px;height: 20px" alt="下拉"
                 class="mx-1">
        </div>
    </div>
</nav>
<div class="container-fluid mt-1">
    <div class="row d-flex justify-content-center">
        <aside style="background: #00bfff" class="col-1 d-flex align-items-stretch">
            <div class="btn-group m-2">
                <div class="d-flex align-items-center">
                    <img src="{% static 'house_helper/img/icon/menu.png' %}" style="width: 20px;height: 20px" alt="菜单">
                    <h6 style="color: azure">菜单</h6>
                </div>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </aside>
        {% block section %}
            <article class="row d-flex justify-content-center col-11">1</article>
        {% endblock %}
    </div>
</div>
<footer class="container-fluid">
    <div class="row d-flex justify-content-center"></div>
</footer>
</body>
</html>