{% extends 'login.html' %}

{% block page-login-form %}
    {% load static %}
    <div class="container-fluid" style="margin-top: 10%">
        <div class="row d-flex justify-content-center">
            <div class= "alert alert-danger col-2 text-center fixed-top" role = "alert" style = "margin: 30px auto auto auto;display: none" id = "alert" >
                <p>
                    <img src="{% static 'house_helper/img/icon/err.png' %}" style="width: 20px; height: 20px" alt="错误">
                </p>
            </div>
            <form class="login-form-background px-3 py-3 col-3" id="form">
                <h2 class="form-signin-heading text-center" style="color: azure">账号注册</h2>
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}" class="sr-only">{{ form.password2.label }}</label>
                    {{ form.password2 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.true_name.id_for_label }}" class="sr-only">{{ form.true_name.label }}</label>
                    {{ form.true_name }}
                </div>
                <div class="form-group d-flex justify-content-center">
                    {% for radio in form.sex %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{ form.sex.html_name }}"
                                   id="{{ radio.id_for_label }}" value="{{ radio.choice_value }}" style="margin: 0 30px 0 30px">
                            <label class="form-check-label"
                                   for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.mobile_phone.id_for_label }}"
                           class="sr-only">{{ form.mobile_phone.label }}</label>
                    {{ form.mobile_phone }}
                </div>
                <div class="form-group d-flex justify-content-center">
                    <a class="btn btn-lg btn-primary col-10" type="submit" onclick="submit_form()">注册</a>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <a class="btn btn-lg btn-warning col-10" type="submit" href="{% url 'login' %}">返回登录</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block submit_form %}
    <script>
        {% load static %}
        function submit_form() {
            axios({
                method: 'post',
                url: '{% url 'register' %}',
                data: $('#form').serialize(),
                dataType: 'JSON',
            }).then(function (response) {
                const alert = $('#alert')
                const icon = $('#alert p img')
                const msg = $('#alert p')
                for (const argumentsKey in response.data.data) {
                    if (response.data.code === 200) {
                        icon.attr('src', '{% static 'house_helper/img/icon/suc.png' %}').attr('alt', '成功')
                        msg.text(response.data.data[argumentsKey][0]).prepend(icon)
                        alert.attr('class', 'alert alert-success col-2 text-center fixed-top')
                        alert.fadeIn(100)
                        alert.delay(1000).fadeOut(300,function () {
                            window.location.href = '{% url 'login' %}'
                        })
                    } else if (argumentsKey) {
                        icon.attr('src', '{% static 'house_helper/img/icon/err.png' %}').attr('alt', '错误')
                        msg.text(response.data.data[argumentsKey][0]).prepend(icon)
                        alert.attr('class', 'alert alert-danger col-2 text-center fixed-top')
                        alert.fadeIn(100)
                        alert.delay(3000).fadeOut(300)
                        break;
                    }
                }
            })
        }
    </script>
{% endblock %}